<shared-search class="mt-1"
               placeholderText="Search {{ searchPlaceholder }}..."
               (searched)="requestOptionsUpdated.emit({ search: $event, page: undefined })"></shared-search>
<div *ngIf="meta?.TotalPages > 1"
     class="my-2 row">
  <div class="col-12">
    <div class="float-right">
      {{ ((meta.Page - 1) * meta.PageSize) + 1 }} - {{ meta.Page * meta.PageSize }} of {{ meta?.TotalCount }} results
    </div>
  </div>
</div>
<div class="my-3 row">
  <div *ngFor="let item of items"
       class="col-sm-12 d-flex"
       [ngClass]="{'col-lg-6 col-md-6': numColumns === 2, 'col-lg-12 col-md-12': numColumns === 1 }">
    <ng-template [ngTemplateOutlet]="itemTemplate"
                 [ngTemplateOutletContext]="{ item: item }">
    </ng-template>
  </div>
  <div class="card bg-light p-3 mx-4 w-100 text-center"
       *ngIf="items && items.length === 0">
    <p class="mb-0">No {{ searchPlaceholder }} found</p>
  </div>
</div>
<ngb-pagination *ngIf="meta?.TotalPages > 1"
                maxSize="10"
                class="d-flex justify-content-center"
                [collectionSize]="meta.TotalCount"
                [pageSize]="meta.PageSize"
                [(page)]="meta.Page"
                (pageChange)="requestOptionsUpdated.emit({ page: $event })"
                [rotate]="true"></ngb-pagination>