<form [formGroup]="specForm">
  <div *ngFor="let spec of specs"
       class="my-1">
    <div class="mr-2">
      <b>{{spec.Name}}: </b>
    </div>
    <select class="custom-select"
            [formControlName]="spec.ID">
      <option value="null"
              disabled>Select</option>
      <option *ngFor="let option of spec.Options"
              [ngValue]="option.ID">
        {{ option.Value }} <span class="text-light">{{ getMarkupText(option) }}</span>
      </option>
    </select>
  </div>
</form>