<div class="container"
     *ngIf="buyerOrg$ | async; let buyer">
  <div class="alert alert-info my-3"><b><fa-icon class="pr-3" [icon]="faBullhorn"></fa-icon></b>{{ buyer.xp.Announcement }}</div>
  <ngb-carousel>
    <ng-template ngbSlide
                 *ngFor="let slide of buyer.xp.carouselSlides">
      <img class="img-fluid"
           style="width:100%;"
           [src]="slide.URL"
           alt="Random first slide">
      <div class="carousel-caption">
        <h3>{{ slide.HeaderText }}</h3>
        <p>{{ slide.BodyText }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div *ngIf="featuredProducts$ | async; let products">
    <products-carousel displayTitle="Featured Products"
                       [products]="products.Items"></products-carousel>
  </div>
</div>