<div class="container"
     *ngIf="buyerOrg$ | async; let buyer">

  <!-- Announcements can be managed in the seller application  -->
  <div *ngIf="buyer?.xp?.Announcement"
       class="alert alert-info my-3"><b>
      <fa-icon class="pr-3"
               [icon]="faBullhorn"></fa-icon>
    </b>{{ buyer?.xp?.Announcement }}</div>

  <!-- Carousel slides can be managed in the seller application -->
  <ngb-carousel *ngIf="buyer?.xp?.carouselSlides">
    <ng-template ngbSlide
                 *ngFor="let slide of buyer.xp.carouselSlides">
      <img class="img-fluid"
           style="width:100%;"
           [src]="slide.URL"
           alt="Random first slide">
      <div class="carousel-caption">
        <h3>{{ slide.headerText }}</h3>
        <p>{{ slide.bodyText }}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- Featured products can be managed in the seller application -->
  <div *ngIf="featuredProducts$ | async; let products">
    <product-carousel *ngIf="products.Items.length"
                      displayTitle="Featured Products"
                      [products]="products.Items"></product-carousel>
  </div>
</div>