// --------------------------------------------------------------------------------------
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
// --------------------------------------------------------------------------------------


$ribbon-shadow-color:   $secondary;