// Play it Again Sports

//TODO: Override Bootstrap's color variables, not create new ones

// Colors
$brand-yellow-color:    #f3932a;
$brand-black-color:     #191717;
$brand-pink-color:      #da549d;
$secondary-green-color: #79ab50;
$secondary-blue-color:  #147fc4;
$neutral-one-color:     #ededed;
$neutral-two-color:     #dbdada;
$body-dark-color:       #191717;


// Fonts
@font-face {
    font-family: futura-bold;
    src: url("fonts/Futura_PT_W01_Bold.ttf") format("opentype");
}

@font-face {
    font-family: futura-book;
    src: url("fonts/Futura_PT_W01_Book.ttf") format("opentype");
}


