// overriden varriables have to come before the rest of scss

$brand-primary:         #007bff;
$brand-secondary:       #6c757d;
$brand-tertiary:        #000000;
$brand-quaternary:      #f1eae2;

$brand-success:         #28a745;
$brand-info:            #17a2b8;
$brand-warning:         #ffc107;
$brand-danger:          #dc3545;

$light-gray:			#F5F5F5;
$gray-darker:           #2f2d2c;


// Overriden Colors
$primary:               $brand-primary;
$secondary:             $brand-secondary;
$success:               $brand-success;
$info:                  $brand-info;
$warning:               $brand-warning;
$danger:                $brand-danger;
$light:                 $light-gray;
$dark:                  $gray-darker;

$component-active-bg:   $brand-info;