<div class="row">
  <div class="col-lg-8">
    <form novalidate
          [formGroup]="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text"
                   for="paymentMethodSelectId">Payment Method:</label>
          </div>
          <select class="custom-select"
                  id="paymentMethodSelectId"
                  formControlName="selectedPaymentMethod"
                  (change)="selectPaymentMethod()">
                <option *ngFor="let method of availablePaymentMethods" [ngValue]="method">
                  {{ method | paymentMethodDisplay }}
                </option>
            </select>
        </div>
      </div>
    </form>
  </div>
</div>
<checkout-payment-purchase-order *ngIf="selectedPaymentMethod === 'PurchaseOrder'"
                                 [payment]="existingPayment"
                                 [order]="order"
                                 (paymentCreated)="createPayment($event)"
                                 (paymentPatched)="patchPayment($event)"
                                 (continue)="onContinueClicked($event)">
</checkout-payment-purchase-order>
<checkout-payment-spending-account *ngIf="selectedPaymentMethod === 'SpendingAccount'"
                                   [payment]="existingPayment"
                                   [order]="order"
                                   (paymentCreated)="createPayment($event)"
                                   (paymentPatched)="patchPayment($event)"
                                   (continue)="onContinueClicked($event)">></checkout-payment-spending-account>