<form [formGroup]="form"
      name="DateFilterForm"
      novalidate>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="dFrom">From Date</label>
        <div class="input-group">
          <input formControlName="fromDate"
                 class="form-control"
                 placeholder="mm-dd-yyyy"
                 ngbDatepicker
                 #dFrom="ngbDatepicker"
                 id="dFrom">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    (click)="dFrom.toggle()"
                    type="button">
            <fa-icon [icon]="faCalendar" id="calendar-addon-from"></fa-icon>
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="dTo">To Date</label>
        <div class="input-group">
          <input formControlName="toDate"
                 class="form-control"
                 placeholder="mm-dd-yyyy"
                 ngbDatepicker
                 minDate="today"
                 #dTo="ngbDatepicker"
                 id="dTo">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    (click)="dTo.toggle()"
                    type="button">
            <fa-icon [icon]="faCalendar" id="calendar-addon-to"></fa-icon>
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>