<div class="container mt-4">
  <div class="row">
    <div class="col-8">
      <h1>Users</h1>
    </div>
    <div class="col-4">
      <button class="btn btn-primary float-right mt-3"
              (click)="openCreateModal()">
        <fa-icon [icon]="faPlusCircle"></fa-icon> New User</button>
      <shared-modal id="{{ createModalID }}"
                    modalTitle="Create A New User">
        <user-form btnText="Create"
                   (formSubmitted)="addUser($event)"></user-form>
      </shared-modal>
      <shared-modal id="{{ editModalID }}"
                    modalTitle="Update User">
        <user-form btnText="Save"
                   [existingUser]="selectedUser"
                   (formSubmitted)="editUser($event)"></user-form>
      </shared-modal>
    </div>
  </div>
  <div class="mt-4"
       *ngIf="users">
    <shared-generic-browse [meta]="users?.Meta"
                           searchPlaceholder="users"
                           (search)="searchChanged($event)"
                           (page)="pageChanged($event)">
      <table *ngIf="users.Items.length"
             class="table table-striped table-bordered mt-3">
        <thead>
          <tr>
            <th>
              <shared-sort-column fieldName="ID"
                                  [currentSort]="requestOptions.sortBy"
                                  (sort)="sortChanged($event)">ID</shared-sort-column>
            </th>
            <th>
              <shared-sort-column fieldName="Username"
                                  [currentSort]="requestOptions.sortBy"
                                  (sort)="sortChanged($event)">Username</shared-sort-column>
            </th>
            <th>
              <shared-sort-column fieldName="FirstName"
                                  [currentSort]="requestOptions.sortBy"
                                  (sort)="sortChanged($event)">First Name</shared-sort-column>
            </th>
            <th>
              <shared-sort-column fieldName="LastName"
                                  [currentSort]="requestOptions.sortBy"
                                  (sort)="sortChanged($event)">Last Name</shared-sort-column>
            </th>
            <th>
              <shared-sort-column fieldName="Email"
                                  [currentSort]="requestOptions.sortBy"
                                  (sort)="sortChanged($event)">Email</shared-sort-column>
            </th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users.Items">
            <td>{{ user.ID }}</td>
            <td>
              <a [routerLink]=""
                 (click)="openEditModal(user)">{{ user.Username }}</a>
            </td>
            <td>{{ user.FirstName }}</td>
            <td>{{ user.LastName }}</td>
            <td>{{ user.Email }}</td>
            <td class="text-center">
              <fa-icon aria-hidden="true"
                       [ngClass]="{'text-success': user.Active}"
                       [icon]="faCircle"></fa-icon>
            </td>
            <td>
              <button (click)="deleteUser(user.ID)"
                      class="btn btn-danger btn-xs">
                <fa-icon [icon]="faTrash"></fa-icon>
                <span class="hidden-xs"> Delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </shared-generic-browse>
  </div>
</div>