<div class="row">
  <div class="col-lg-8">
    <shared-address-form [existingAddress]="selectedAddress"
                         (formSubmitted)="saveAddress($event)"
                         btnText="Save and Continue"></shared-address-form>
  </div>
</div>
<button (click)="openModal()">open</button>
<shared-modal *ngIf="!isAnon && existingAddresses && existingAddresses.Items.length > 0"
              id="oliver"
              modalTitle="Select Address">
  <shared-generic-browse [items]="existingAddresses?.Items"
                         [meta]="existingAddresses?.Meta"
                         searchPlaceholder="addresses"
                         (requestOptionsUpdated)="updateRequestOptions($event)">
    <ng-template let-address="item">
      <shared-address-display [address]="address">
        <div actions>
          <a (click)="existingAddressSelected(address)">select</a>
        </div>
      </shared-address-display>
    </ng-template>
  </shared-generic-browse>
</shared-modal>