<div *ngIf="lineItems$ | async; let lineItems">
  <div *ngIf="order.Comments"
       class="alert alert-secondary small">
    <strong>Comments: </strong> {{order.Comments}}
    <hr>
  </div>
  <order-payment-list *ngIf="payments$ | async; let payments"
                      [payments]="payments"></order-payment-list>
  <div class="row mb-5">
    <div class="col-6">
      <shared-address-display [address]="lineItems.Items[0].ShippingAddress"
                              addressTitle="Shipping Address"
                              *ngIf="order?.ShippingAddressID">
      </shared-address-display>
    </div>
    <div class="col-6">
      <shared-address-display [address]="order.BillingAddress"
                              addressTitle="Billing Address"
                              *ngIf="order?.BillingAddress">
      </shared-address-display>
    </div>
  </div>
  <shared-lineitem-list-wrapper>
    <shared-line-item-card *ngFor="let li of lineItems.Items"
                           [lineitem]="li"
                           [productDetails]="li.Product"
                           readOnly="true"></shared-line-item-card>
  </shared-lineitem-list-wrapper>
</div>
<button class="btn btn-primary"
        (click)="continue.emit()">Confirm Order</button>