<div class="container"
     *ngIf="order$ | async; let order">
  <nav class="breadcrumb"
       aria-label="breadcrumb">
    <a class="breadcrumb-item link-text"
       [routerLink]="['..']">All Orders</a>
    <a class="breadcrumb-item link-text"
       aria-current="page">{{order.ID}}</a>
  </nav>
  <div class="pb-2 mt-4 mb-2">
    <h2> <span class="text-muted">Order #:</span> {{order.ID}}</h2>
    <div class="row">
      <div class="col-md-6">
        <small class="float-left">Submitted on {{order.DateSubmitted | date: 'short'}}</small>
      </div>
      <div class="col-md-6">
        <button class="btn btn-danger float-right ml-2"
                (click)="openModal(false)">Decline</button>
        <button class="btn btn-success float-right ml-2"
                (click)="openModal(true)">Approve</button>
      </div>
    </div>
  </div>
  <shared-modal [id]="modalID"
                modalTitle="{{ approve ? 'Approve' : 'Decline' }} Order">
    <form novalidate
          [formGroup]="form">
      <textarea type="text"
                placeholder="Comments (optional)"
                formControlName="comments"
                class="form-control">
      </textarea>
    </form>
    <button class="mt-3 w-100 btn"
            (click)="submitReview(order.ID)"
            [ngClass]="{ 'btn-success': approve, 'btn-danger': !approve }">{{ approve ? 'Approve' : 'Decline' }}</button>
  </shared-modal>
  <div class="mb-5 p-3 border">
    <div *ngIf="order.Comments"
         class="alert alert-secondary small">
      <strong>Comments: </strong> {{order.Comments}}
    </div>
    <strong>Subtotal</strong> <span class="float-right">{{order.Subtotal | currency}}</span><br>
    <strong>Shipping</strong> <span class="float-right">{{order.ShippingCost | currency}}</span><br>
    <strong>Tax</strong> <span class="float-right">{{order.TaxCost | currency}}</span><br>
    <div *ngIf="order.PromotionDiscount">
      <strong class="text-danger">Promo Discount</strong> <span class="float-right text-danger">-{{order.PromotionDiscount | currency}}</span>
    </div>
    <hr>
    <div class="text-right lead"><b class="float-left">Total:</b><span class="order-total">{{order.Total | currency}}</span></div>
    <hr>
    <order-payment-list *ngIf="payments$ | async; let payments"
                        [payments]="payments"></order-payment-list>
  </div>
  <shared-lineitem-list-wrapper>
    <shared-line-item-card *ngFor="let li of (lineItems$ | async)?.Items"
                           [lineitem]="li"
                           [productDetails]="li.Product"
                           readOnly="true"></shared-line-item-card>
  </shared-lineitem-list-wrapper>
</div>