<div class="section-title">{{ title }}</div>
<div class="row">
  <div class="col-1 arrow highlighted-text">
    <fa-icon [icon]="faAngleLeft"
             *ngIf="index > 0"
             (click)="left()"></fa-icon>
  </div>
  <div class="col-10 product-list-grid row align-items-stretch">
    <products-product-card *ngFor="let product of getProducts() | mapToIterable"
                           class="col-lg-3 col-md-4 col-sm-6"
                           (click)="toProductDetails(product)"
                           [product]="product">
    </products-product-card>
  </div>
  <div class="col-1 arrow highlighted-text">
    <fa-icon [icon]="faAngleRight"
             *ngIf="index <= products.length - rowLength - 1"
             (click)="right()"></fa-icon>
  </div>
</div>