<h1 class="page-heading border-bottom pb-3">Orders to Approve</h1>
<shared-search class="mt-1"
               placeholderText="Search Orders"
               (searched)="filterBySearch($event)"></shared-search>
<div class="row mt-3">
  <div class="col-12">
    <order-date-filter (selectedDate)="filterByDate($event)"></order-date-filter>
  </div>
</div>
<order-list *ngIf="orders$ | async; let orders"
            [orders]="orders"
            [columns]="['ID', 'Status', 'DateSubmitted', 'Total']"
            [sortBy]="sortBy"
            (updatedSort)="sortOrders($event)"
            (changedPage)="changePage($event)">
</order-list>