<button class="btn btn-success ml-2"
        (click)="openModal(true)">Approve</button>
<button class="btn btn-danger ml-2"
        (click)="openModal(false)">Decline</button>
<shared-modal [id]="modalID"
              modalTitle="{{ approved ? 'Approve' : 'Decline' }} Order">
  <form novalidate
        [formGroup]="form">
    <textarea type="text"
              placeholder="Comments (optional)"
              formControlName="comments"
              class="form-control">
          </textarea>
  </form>
  <button class="mt-3 w-100 btn"
          (click)="submitReview()"
          [ngClass]="{ 'btn-success': approved, 'btn-danger': !approved }">{{ approved ? 'Approve' : 'Decline' }}</button>
</shared-modal>