<div class="border shadow-sm p-2 row">
  <shared-credit-card-icon class="col-md-1"
                           [card]="card"
                           size="2x"></shared-credit-card-icon>
  <div class="col-md-7">
    <div><b>XXXX-XXXX-XXXX-{{ card?.PartialAccountNumber }}</b></div>
    <div>{{ card?.CardholderName }}</div>
    <div><small>Expires: {{ card?.ExpirationDate | date:'MM/yy':'UTC' }}</small></div>
  </div>
  <div class="col-md-4">
    <div class="float-right">
      <ng-content select=[actions]></ng-content>
    </div>
  </div>
</div>