<form [formGroup]="form">
  <div class="form-group mb-0">
    <label for="quantity"
           class="sr-only">Product Quantity</label>
    <input *ngIf="!isQuantityRestricted()"
           id="quantity"
           type="number"
           formControlName="quantity"
           class="form-control text-center"
           placeholder="0"
           (change)="quantityChanged()"
           aria-label="Quantity Input Selector"
           aria-describedby="quantity">
    <select *ngIf="isQuantityRestricted()"
            class="form-control text-center"
            formControlName="quantity"
            (change)="quantityChanged()"
            id="quantity">
            <option *ngFor="let priceBreak of product.PriceSchedule.PriceBreaks" [value]="priceBreak.Quantity">
              {{priceBreak.Quantity}}
            </option>
    </select>
  </div>
</form>
<small *ngIf="form.controls['quantity'].getError('required')"
       class="alert alert-danger error-message c-error-message text-center">
    Please enter a quantity
    <br>
  </small>
<small *ngIf="form.controls['quantity'].getError('OcMaxProductQty') as error"
       class="alert alert-danger error-message c-error-message text-center">
        The maximum order quantity is {{error.max}}
    <br>
  </small>
<small *ngIf="form.controls['quantity'].getError('OcMinProductQty') as error"
       class="alert alert-danger error-message c-error-message text-center">
    The minimum order quantity is {{error.min}}
<br>
</small>