<form [formGroup]="form">
  <div class="form-group mb-0">
    <label for="quantity"
           class="sr-only">Product Quantity</label>
    <input *ngIf="!isQuantityRestricted()"
           id="quantity"
           title="Please enter a quantity greater than 0"
           type="number"
           formControlName="quantity"
           class="form-control text-center"
           placeholder="0"
           style="min-width:65px"
           aria-label="Quantity Input Selector"
           aria-describedby="quantity">
    <select *ngIf="isQuantityRestricted()"
            class="form-control text-center"
            title="Please enter a quantity greater than 0"
            style="min-width:65px"
            formControlName="quantity"
            id="quantity">
      <option *ngFor="let priceBreak of product.PriceSchedule.PriceBreaks"
              [value]="priceBreak.Quantity">
        {{priceBreak.Quantity}}
      </option>
    </select>
  </div>
</form>
<small *ngIf="form.controls['quantity'].getError('required')"
       class="alert alert-danger error-message c-error-message text-center">
  Please enter a quantity
  <br>
</small>
<small *ngIf="getQuantityError() as error"
       class="alert alert-danger error-message c-error-message text-center">
  {{ error }}
  <br>
</small>