<div>
  <div class="mb-5">
    <div class="row">
      <h3 class="col-6">Personal Credit Cards</h3>
      <div class="col-6">
        <button (click)="showAdd()"
                *ngIf="!showCardForm"
                class="btn btn-primary float-right"><fa-icon [icon]="faPlus"></fa-icon> Add a Card</button>
      </div>
    </div>
    <hr>
    <div class="my-3"
         *ngFor="let card of (cards$ | async)?.Items">
      <shared-credit-card-display [card]="card">
        <div actions>
          <fa-icon (click)="deleteCard(card.ID)"
                   title="Delete"
                   class="text-danger icon-button--hover-reative"
                   [icon]="faTrashAlt"></fa-icon>
        </div>
      </shared-credit-card-display>
    </div>
    <shared-credit-card-form *ngIf="showCardForm"
                             submitText="Add"
                             (formSubmitted)="addCard($event)"></shared-credit-card-form>
  </div>
  <div class="mb-5">
    <div class="row">
      <h2 class="col-6">Assigned Spending Accounts</h2>
      <div class="col-6">
        <!-- Insert buttons here -->
      </div>
    </div>
    <hr>
    <div class="mt-3"
         *ngFor="let account of (accounts$ | async)?.Items">
      <div class="border shadow-sm p-3">
        <div><b>{{ account.Name }}</b></div>
        <div>Balance: <b class="text-success">{{ account.Balance | currency }}</b></div>
      </div>
    </div>
  </div>
</div>