
// --------------------------------------------------------------------------------------
// Include any  style rules for your custom theming here
// Ideally this should only override existing classes
// --------------------------------------------------------------------------------------

// default page heading
.page-heading {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
  }
  