@charset 'UTF-8';

// Theme Variables - must come before vendor
@import
  'themes/my-first-theme/variables';

// Vendors
@import
  'vendor/bootstrap',
  'vendor/normalize',
  'vendor/ngx-toastr';
  
// Abstracts
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// Scaffolding
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// Layout
@import
  'layout/header',
  'layout/footer';
  
// Components
@import
  'components/button',
  'components/_forms',
  'components/_product-list',
  'components/_card-ribbon',
  'components/_card-hover',
  'components/_list-items.scss',
  'components/_carousel-arrow.scss',
  'components/_modal.scss';
  
// Pages
@import
  'pages/_home';
  
@import
  '_shame';

// 3rd party libraries
@import 
  '~angular-tree-component/dist/angular-tree-component.css';

// Theme
  @import
  'themes/my-first-theme/styles';