<div class="card mb-5 w-100 border-hover">
  <div class="ribbon ribbon-top-right bg-light"
       *ngIf="!featuredProducts()">
    <shared-toggle-favorite *ngIf="isSetFavoriteUsed"
                            title="Favorite"
                            (click)="$event.stopPropagation()"
                            [favorite]="favorite"
                            (favoriteChanged)="setFavorite.emit($event)"></shared-toggle-favorite>
  </div>
  <img class="card-img-top img-fluid flex-shrink-0"
       [routerLink]="['/products', product.ID]"
       appFallbackImage
       src="{{ product?.xp?.imageURLs && product?.xp?.imageURLs[0] ? product?.xp?.imageURLs[0] : 'http://placehold.it/300x300' }}"
       alt="{{product.ID}}">
  <div class="card-body d-flex flex-column justify-content-between bg-light">
    <h5 class="card-title"
        title="{{product.Name}}">{{ product.Name }}</h5>
    <p class="card-text text-muted"
       [innerHtml]="product.ID">{{product.ID}}</p>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <p class="card-text mb-0">
        {{ product?.PriceSchedule?.PriceBreaks[0]?.Price || 0 | currency }}
      </p>
      <label for="quantity"
             class="sr-only">Quantity</label>
      <shared-quantity-input class="w-50"
                             id="quantity"
                             [product]="product"
                             [existingQty]="null"
                             (addedToCart)="addToCart($event)"
                             *ngIf="!featuredProducts()">
      </shared-quantity-input>
    </div>
  </div>
  <div class="card-footer"
       *ngIf="!featuredProducts()">
    <button *ngIf="shouldDisplayAddToCart"
            (click)="$event.stopPropagation()"
            class="btn btn-primary btn-block small"
            type="submit"
            (click)="quantityInputComponent.addToCart($event)">
      Add <span class="d-md-none d-lg-inline"> to Cart</span>
    </button>
    <button *ngIf="isViewOnlyProduct"
            [routerLink]="['/products', product.ID]"
            class="btn btn-default btn-block btn-outline-dark">View
      <span class="d-sm-none d-lg-inline">Product</span>
    </button>
    <button *ngIf="hasSpecs()"
            [routerLink]="['/products', product.ID]"
            class="btn btn-primary btn-block small">Select
      <span class="d-sm-none d-lg-inline">Specs</span>
    </button>
  </div>
</div>