.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Add this to your <shared-quantity-input> to make an input-group
.c-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    .form-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// TODO: make this highly reusable to work
// similar to bootstrap's input-group but with
// quantity-input component's highly nested structure
// .input-group__quantity-input-group {
//     .input-group__button {
//         border-top-right-radius: 0;
//         border-bottom-right-radius: 0;
//     }
//     .input-group__quantity-input {
//         form {
//             .form-group {
//                 input {
//                     border-top-left-radius: 0;
//                     border-bottom-left-radius: 0;
//                 }
//             }
//         }
//     }
// }