.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Add this to your <shared-quantity-input> to make an input-group
.c-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    .form-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}