<section class="container mt-2"
         *ngIf="productList$ | async; let productList">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb"
           aria-label="breadcrumb">
        <a class="breadcrumb-item link-text"
           [routerLink]="['/products']">All Products</a>
        <a *ngFor="let cat of categoryCrumbs"
           class="breadcrumb-item link-text"
           [queryParams]="{ category: cat.ID }"
           [routerLink]="['/products']">{{
          cat.Name }}</a>
      </nav>
    </div>
  </div>
  <!-- Mobile section for selecting a category and filtering on favorites -->
  <div class="d-md-none mb-2">
    <button class="btn btn-block btn-default btn-outline-dark mb-2"
            *ngIf="categories?.Items?.length"
            (click)="openCategoryModal()">Select Category</button>
    <div class="col-xs-6">
      <div (click)="refineByFavorites()">
        <label>Refine By</label>
        <button class="btn btn-block btn-default btn-outline-dark mb-2"
                for="favorite">
          <shared-toggle-favorite [favorite]="hasFavoriteProductsFilter"></shared-toggle-favorite> My Favorites
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3 d-md-block d-sm-none d-none">
      <div class="card mb-4">
        <div class="card-header p-3">
          <h5 class="card-title mb-0">
            <strong>Refine By</strong>
          </h5>
        </div>
        <div class="p-3">
          <button *ngIf="hasQueryParams"
                  class="btn btn-block btn-default mb-4"
                  type="button"
                  (click)="clearAllFilters()">Clear All Filters</button>
          <!-- enable price filtering by uncommenting this line, see PriceFilterComponent for more details -->
          <!-- <product-price-filter (priceFilterChange)="changePrice($event)"></product-price-filter> -->
          <product-facet-filter *ngIf="productList.Meta?.Facets?.length"
                                [facetList]="productList.Meta.Facets"
                                (facetListSelected)="changeFacets($event)"></product-facet-filter>
          <div (click)="refineByFavorites()">
            <shared-toggle-favorite [favorite]="hasFavoriteProductsFilter"></shared-toggle-favorite>
            <label class="ml-2"
                   for="favorite"> My Favorites</label>
          </div>
        </div>
      </div>
      <product-category-nav *ngIf="categories?.Items?.length"
                            [categories]="categories"
                            (selection)="changeCategory($event)"></product-category-nav>
    </div>
    <div class="col-lg-9 col-md-8 ">
      <div class="row flex-wrap-reverse">
        <div class="col-12 col-md-auto mr-auto ">
          <div class="m-0 mt-1 text-center">
            <span *ngIf="productList.Meta.TotalPages > 1">
              {{ ((productList.Meta.Page - 1) * productList.Meta.PageSize) + 1 }} - {{productList.Meta.Page * productList.Meta.PageSize}}
              of
            </span>{{productList.Meta.TotalCount}} results
          </div>
        </div>
        <div class="col-12 d-md-none mb-2">
          <button *ngIf="hasQueryParams"
                  class="btn btn-block btn-default btn-outline-dark mb-2"
                  type="button"
                  (click)="clearAllFilters()">Clear All Filters</button>
        </div>
        <div class="col-12 col-md-auto ">
          <product-sort-filter [sortStrategy]="activatedRoute.queryParams.sortBy"
                               (sortStrategyChange)="changeSortStrategy($event)"></product-sort-filter>
        </div>
      </div>
      <div class="card"
           *ngIf="productList.Items.length === 0">
        <shared-no-results message="No products found."
                           [actionText]="hasQueryParams ? 'clear search criteria' : 'go back to the home page'"
                           (action)="hasQueryParams ? clearAllFilters() : routeHome()"></shared-no-results>
      </div>
      <div *ngIf="productList.Items.length > 0">
        <div class="product-list-grid row align-items-stretch">
          <product-product-card *ngFor="let product of productList.Items"
                                class="col-sm-6 col-md-4 col-xl-3 d-flex"
                                [product]="product"
                                [favorite]="favoriteProductsService.isFavorite(product)"
                                (setFavorite)="favoriteProductsService.setFavoriteValue($event, product)"
                                (addedToCart)="addToCart($event)">
          </product-product-card>
        </div>
        <ngb-pagination *ngIf="productList.Meta.TotalPages > 1"
                        maxSize="10"
                        class="d-flex justify-content-center"
                        [collectionSize]="productList.Meta.TotalCount"
                        [pageSize]="productList.Meta.PageSize"
                        [(page)]="productList.Meta.Page"
                        (pageChange)="changePage($event)"
                        [rotate]="true"></ngb-pagination>
      </div>
    </div>
  </div>
  <shared-modal id="{{ createModalID }}"
                modalTitle="Select Category">
    <product-category-nav *ngIf="categories?.Items?.length"
                          [categories]="categories"
                          (selection)="changeCategory($event)"></product-category-nav>
  </shared-modal>
</section>