.dropdown__list {
    position: absolute;
    left: 15px;
    right: 15px;
    z-index: 1000;
}

.dropdown__list-item {
    &:hover {
        background-color: lightgrey;
    }
}

.dropdown__caret {
    position: absolute;
    top: calc(50% - 14px);
    right: 10px;
}