<div class="lead"><b>Payments</b></div>
<div class="mb-4" *ngFor="let payment of payments.Items">
  <span *ngIf="payment.Type === 'CreditCard'">
      <strong><shared-credit-card-icon [card]="payment.Details"></shared-credit-card-icon> ending in {{payment.Details.PartialAccountNumber}}</strong>
  </span>
  <span *ngIf="payment.Type === 'PurchaseOrder'">
    Purchase Order <small *ngIf="payment.Details.PONumber">{{payment.Details.PONumber}}</small>
  </span>
  <span *ngIf="payment.Type === 'SpendingAccount'">
    Spending Account: {{ payment.Details.Name }}
  </span>
  <span class="float-right">-{{payment.Amount | currency}}</span>
</div>