<div class="card border shadow-sm mb-4">
  <div class="card-header p-3">
    <!-- Name -->
    <div class="row">
      <div class="col">
        <h5 class="card-title mb-0">
          Line Items
        </h5>
      </div>
    </div>
  </div>
  <div class="px-3 pt-2 d-none d-sm-block border-bottom">
    <div class="row">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-4 text-center">
            <h6>Price</h6>
          </div>
          <div class="col-4 text-center">
            <h6>Qty</h6>
          </div>
          <div class="col-4 text-center">
            <h6>Total</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-none">
    <ng-content></ng-content>
  </div>
</div>