<div class="card border shadow-sm mb-3">
  <address class="card-body row">
    <div class="col-md-8">
      <p *ngIf="addressTitle"><strong>{{ addressTitle }}</strong></p>
      <div *ngIf="address.AddressName"><strong>{{address.AddressName}}</strong></div>
      <div *ngIf="address.CompanyName">{{address.CompanyName}}</div>
      <div>{{address.FullName}}</div>
      <div>{{address.Street1}}</div>
      <div *ngIf="address.Street2">{{address.Street2}}</div>
      <div>{{address.City}}, {{address.State}} {{address.Zip}}</div>
      <div *ngIf="address.Phone">{{address.Phone}}</div>
    </div>
    <div class="col-md-4">
      <div class="float-right">
        <!-- When creating an instance of this component, you may use transclusion to add action-buttons here -->
        <ng-content select=[actions]></ng-content>
      </div>
    </div>
  </address>
</div>