<div class="card mb-4">
  <div class="card-header p-3">
    <h5 class="card-title mb-0">
      <strong>Categories</strong>
    </h5>
  </div>
  <!-- For more info about tree component see https://angular2-tree.readme.io/docs/getting-started -->
  <tree-root [nodes]="categoryTree"
             [options]="options"
             class="list-group p-3">
    <ng-template #treeNodeWrapperTemplate
                 let-node
                 let-index="index">
      <div class="node-wrapper"
           [style.padding-left]="node.getNodePadding()">
        <tree-node-expander [node]="node"></tree-node-expander>
        <div class="node-content-wrapper"
             [class.node-content-wrapper-active]="node.isActive"
             [class.node-content-wrapper-focused]="node.isFocused"
             (click)="node.mouseAction('click', $event)"
             (dblclick)="node.mouseAction('dblClick', $event)"
             (contextmenu)="node.mouseAction('contextMenu', $event)"
             (treeDrop)="node.onDrop($event)"
             [treeAllowDrop]="node.allowDrop"
             [treeDrag]="node"
             [treeDragEnabled]="node.allowDrag()">
          <tree-node-content [class]='node.getClass()'
                             [node]="node"
                             [index]="index"></tree-node-content>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>