<!-- TOP NAV -->
<nav class="navbar navbar-expand navbar-light bg-white"
     *ngIf="showHeader()">
  <div class="container">

    <a class="navbar-brand"
       routerLink="/home">
      <span class="d-none d-md-inline">{{appConfig.appname}}</span>
      <span class="d-md-none">OCS</span>
    </a>

    <ul class="navbar-nav mr-auto">

      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="/home">
          Home
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="/products">
          Shop
        </a>
      </li>
    </ul>
    <div class="form-inline"
         *ngIf="(anonymous$ | async)">
      <a class="btn btn-sm btn-outline-dark"
         routerLink="/login">Login</a>
      <a class="btn btn-sm btn-primary d-none d-sm-block ml-2"
         routerLink="/register">Register</a>
    </div>
    <ul class="navbar-nav"
        *ngIf="!(anonymous$ | async)">
      <li class="nav-item dropdown"
          ngbDropdown
          placement="bottom-right">
        <div class="nav-link dropdown-toggle text-nowrap"
             id="account-dropdown"
             routerLinkActive="active"
             ngbDropdownToggle>
          <fa-icon [icon]="faUserCircle"></fa-icon>
          <span class="d-none d-md-inline">
            Account
          </span>
        </div>
        <div class="dropdown-menu"
             aria-labelledby="account-dropdown"
             ngbDropdownMenu>
          <h6 class="dropdown-header">Hi, {{ (user$ | async)?.FirstName }}!</h6>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/details">My Profile</a>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/orders">My Orders</a>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/addresses">Address Book</a>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/payment-methods">Payment Methods</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             (click)="logout()"
             href="/login">
            <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
          </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<nav class="navbar navbar-expand navbar-light bg-light"
     *ngIf="showHeader()">
  <div class="container">
    <shared-search class="mr-3 w-100"
                   placeholderText="Search Products..."
                   (searched)="searchProducts($event)"></shared-search>
    <ul class="navbar-nav"
        #cartIcon
        (mouseleave)="closeMiniCart($event, popover)">
      <li class="nav-item"
          [ngbPopover]="CartHoverContent"
          #popover="ngbPopover"
          triggers="mouseenter:click"
          placement="bottom-right"
          popoverClass="mini-cart-popover"
          [autoClose]="'outside'">
        <ng-template #CartHoverContent>
          <checkout-mini-cart [popover]="popover"></checkout-mini-cart>
        </ng-template>
        <a class="nav-link text-nowrap"
           routerLink="/cart"
           routerLinkActive="active"
           ngbPopover="Item(s) Added to Cart"
           placement="bottom"
           triggers="manual"
           #addtocartPopover="ngbPopover">
          <span class="d-none d-lg-inline">Cart </span>
          <fa-layers class="fa-fw">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <fa-layers-counter *ngIf="currentOrder && currentOrder.LineItemCount"
                               class="badge__counter--large"
                               [content]="currentOrder.LineItemCount"></fa-layers-counter>
          </fa-layers>
        </a>
      </li>
    </ul>
  </div>
</nav>