.price-filter-go-btn {
    margin-top: 10px;
}

.currency-input {
    position: relative;
}
.currency-input input {
    padding-left: 14px;
    max-width: 60px;
}
.currency-input:before {
    position: absolute;
    top: 0;
    content:"$";
    left: 5px;
}