<form (ngSubmit)="onSubmit()"
      novalidate
      [formGroup]="addressForm"
      name="RegisterForm">
  <div class="row">
    <div [hidden]="true"
         class="col-md-6 form-group">
      <label class="sr-only"
             for="ID">ID</label>
      <input type="text"
             formControlName="ID"
             class="form-control"
             id="ID"
             placeholder="ID" />
    </div>
    <div class="col-md-6 form-group">
      <label class="sr-only"
             for="FirstName">First Name</label>
      <input type="text"
             formControlName="FirstName"
             class="form-control"
             id="FirstName"
             placeholder="First Name"
             autofocus="true"
             autocomplete="off" />
      <span *ngIf="hasRequiredError('FirstName')"
            class="error-message">First Name is required</span>
    </div>
    <div class="col-md-6 form-group">
      <label class="sr-only"
             for="LastName">Last Name</label>
      <input type="text"
             formControlName="LastName"
             class="form-control"
             id="LastName"
             placeholder="Last Name"
             autocomplete="off" />
      <span *ngIf="hasRequiredError('LastName')"
            class="error-message">Last Name is required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only"
           for="Street1">Address 1</label>
    <input type="text"
           formControlName="Street1"
           class="form-control"
           id="Street1"
           placeholder="Address 1"
           autocomplete="off" />
    <span *ngIf="hasRequiredError('Street1')"
          class="error-message">Address 1 is required</span>
  </div>
  <div class="form-group">
    <label class="sr-only"
           for="Street2">Address 2</label>
    <input type="text"
           formControlName="Street2"
           class="form-control"
           id="Street2"
           placeholder="Address 2"
           autocomplete="off" />
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label class="sr-only"
             for="City">City</label>
      <input type="text"
             formControlName="City"
             class="form-control"
             id="City"
             placeholder="City"
             autocomplete="off" />
      <span *ngIf="hasRequiredError('City')"
            class="error-message">City is required</span>
    </div>
    <div class="col-md-3 form-group">
      <label class="sr-only"
             for="State">State</label>
      <select formControlName="State"
              class="form-control"
              id="State">
          <option [ngValue]="null" disabled>State</option>
          <option *ngFor="let State of stateOptions" [value]="State">{{ State }}</option>
        </select>
    </div>
    <div class="col-md-3 form-group">
      <label class="sr-only"
             for="zipCode">Zip Code</label>
      <input type="text"
             formControlName="Zip"
             class="form-control"
             id="zipCode"
             placeholder="Zip Code"
             autocomplete="off" />
      <span *ngIf="hasRequiredError('Zip')"
            class="error-message">Zip Code is required</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label class="sr-only"
             for="Phone">Phone Number</label>
      <input type="text"
             formControlName="Phone"
             class="form-control"
             id="Phone"
             appPhoneInput
             placeholder="Phone Number"
             autocomplete="off" />
      <span *ngIf="hasRequiredError('Phone')"
            class="error-message">Phone is required</span>
    </div>
    <div class="col-md-6 form-group">
      <label class="sr-only"
             for="Email">Email</label>
      <input type="email"
             formControlName="Email"
             class="form-control"
             id="Email"
             placeholder="Email"
             autocomplete="off" />
      <span *ngIf="hasValidEmailError('Email')"
            class="error-message">Please enter valid Email</span>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary">{{ btnText }}</button>
</form>