<div class="py-4 mt-2 bg-light text-center">
  <div class="col-sm-12 d-flex justify-content-around">
    <a routerLink="/terms-and-conditions"
       class="mr-1 text-muted">
      <fa-icon class="mr-1 d-md-none"
               [icon]="faFileAlt"></fa-icon>
      <small>Terms & Conditions</small>
    </a>
    <a class="text-muted"
       routerLink="/support"
       routerLinkActive="active">
      <fa-icon class="mr-1"
               [icon]="faPhone"></fa-icon>
      <small>Support</small>
    </a>
    <a class="text-muted"
       routerLink="/faq"
       routerLinkActive="active">
      <fa-icon class="mr-1 text-muted"
               [icon]="faQuestionCircle"></fa-icon>
      <small>FAQ</small>
    </a>
  </div>
  <div class="p-0 mt-0 text-center text-muted col-sm-12">
    <small>Created by Four51, Inc.</small>
  </div>
</div>