<div class="container"
     *ngIf="order$ | async; let order">
  <nav class="breadcrumb"
       aria-label="breadcrumb">
    <a class="breadcrumb-item link-text"
       [routerLink]="['..']">All Orders</a>
    <a class="breadcrumb-item link-text"
       aria-current="page">{{order.ID}}</a>
  </nav>
  <div class="pb-2 mt-4 mb-2">
    <h2> <span class="text-muted">Order #:</span> {{order.ID}}</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>Status:
        <order-status-icon [status]="order.Status"></order-status-icon> {{order.Status}}
      </div>
      <small class="float-left">Submitted on {{order.DateSubmitted | date: 'short'}}</small>
    </div>
    <div class="col-md-6">
      <button *ngIf="!approvalVersion"
              class="btn btn-outline-secondary float-right"
              (click)="favorite()">Favorite
        <shared-toggle-favorite title="Favorite"
                                (click)="$event.stopPropagation()"
                                [favorite]="favoriteOrdersService.isFavorite(order)"
                                (favoriteChanged)="favoriteOrdersService.setFavoriteValue($event, order)">
        </shared-toggle-favorite>
      </button>
      <order-reorder *ngIf="!approvalVersion"
                     class="float-right pb-2 mr-2 mb-2"
                     [orderID]='order.ID'></order-reorder>
      <order-approval *ngIf="approvalVersion"
                      class="float-right"
                      [orderID]='order.ID'></order-approval>

    </div>
  </div>
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <button class="btn btn-link nav-link"
              [routerLink]="['/profile', 'orders', order.ID]">
        <fa-icon [icon]="faCube"></fa-icon>
        Details
      </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link nav-link"
              [routerLink]="['/profile', 'orders', order.ID, 'shipments']">
        <fa-icon [icon]="faTruck"></fa-icon>
        Shipments
      </button>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>